body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: auto 0;
}

header p {
    margin: auto 0;
}

section {
    margin: auto 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}